* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.navbar {
  font-family: 'Russo One', 'Montserrat', sans-serif;
}
